/node_modules
/public/hot
/public/user_dashboard/selfie_digigo/*
/public/user_dashboard/cin_digigo/*
!/public/user_dashboard/selfie_digigo/.gitkeep
!/public/user_dashboard/cin_digigo/.gitkeep
/public/storage
/public/images/profile
/public/_importForCron
/uploads
/public/uploads/videos/*
!/public/uploads/videos/.gitkeep
/storage/laravel-backups
/storage/debugbar
/storage/db-backups
/public/user_dashboard/merchant/*
/public/user_dashboard/profile/*
!/public/user_dashboard/merchant/.gitkeep
!/public/user_dashboard/profile/.gitkeep
/public/Themes
/sftp-config.json
/storage/*.key
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper.php
Thumbs.db
/vendor/*
!public/images/logos/1532175849_logo.png
docker-compose.override.yml
../documentation/*



